@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-brandDark: #1b1b1b;
  --color-brandRed: #ee552c;
  --color-brandExtraLight: #f4f4f4;
  --color-brandLightGray: #e5e5e5;
  --color-brandGray: #ff9125;
}

html,
body {
  height: 100%;
  color: var(--color-brandExtraLight);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  background-color: var(--color-brandDark);
}

html {
  overflow: hidden;
  position: relative;
}

#root {
  min-height: 100dvh;
  background: linear-gradient(
    to bottom,
    var(--color-brandDark),
    var(--color-brandRed)
  );
}
